language: python
python:
    - "3.5"
    - "3.6"
    - "pypy3.5-5.10.1"
matrix:
    fast_finish: true
    include:
        - { python: "3.7", dist: xenial, sudo: true }
install:
    - pip install -r requirements-dev.txt
    # mypy can't be installed on pypy
    - if [[ "${TRAVIS_PYTHON_VERSION}" != "pypy"* ]] ; then pip install mypy ; fi
    - if [[ "${TRAVIS_PYTHON_VERSION}" != *"3.5"* ]] ; then pip install black ; fi
script:
    - make ci
after_success:
    - coveralls
