autopep8
coveralls
coverage
flake8
flake8-blind-except
flake8-import-order
mypy
# See setup.py comment for why this version is restricted
netifaces!=0.10.5
nose
pep8-naming!=0.6.0
# Version restricted because of https://github.com/PyCQA/pycodestyle/issues/741
pycodestyle<2.4.0
